/* To begin, you can change, add or remove any of the variables */

:root {
    --fontColor: #e0b979;
    --fontHighlight: #e7c4a3;
    --accent: rgb(255, 213, 79);
    --accentSecondary: #6b4111;
    --accentSecondaryTransparent: #6b4111be;
    --lighter: rgba(255, 255, 255, 0.2);
    --muchLighter: rgba(255, 255, 255, 0.6);
    --panelBackground: black;
    --darker: rgba(0, 0, 0, 0.4);
    --muchDarker: rgba(0, 0, 0, 0.6);
    --highlight: #e0b979;
    --highlightHover: #ffb168;
    --highlightActive: #ff8615;
    --background: #1a1a1a;
    --warning: rgb(255, 113, 113);
    --none: rgb(255, 255, 255, 0);

    --padding: 1rem;
    --border: 0.1rem solid var(--fontHighlight);
    --borderRadius: 0.4rem;
    --borderRadiusButtons: 0rem 1.4rem 0 0.4rem;
    --fontFamily: system-ui;
    --boxShadow: 0rem 0 2rem var(--muchDarker);
    --fontSizeSmall: 0.8rem;
    --fontSize: 1rem;
    --fontSizeMedium: 1.2rem;
    --fontSizeLarge: 1.4rem;
    --fontSizeExtraLarge: 2rem;
    --transitionFast: 0.1s ease-in-out;
    --transitionNormal: 0.4s ease-in-out;
    --transitionSlow: 1.4s ease-in-out;
}

@media screen and (max-width: 600px) {
    :root {
        --fontSizeSmall: 0.6rem;
        --fontSize: 0.7rem;
        --fontSizeMedium: 0.8rem;
        --fontSizeLarge: 1rem;
        --fontSizeExtraLarge: 1.2rem;
    }
}

::selection {
    color: var(--background);
    background-color: var(--fontHighlight);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    font-size: var(--fontSize);
    color: var(--fontColor);
    background: var(--panelBackground);
    min-height: 100lvh;
}

header {
    position: static;
    top: 0;
    z-index: 100;
    justify-content: flex-start;
}

footer {
    justify-content: space-between;
}

header,
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: var(--padding);
    padding: var(--padding);
    background: var(--accentSecondary);
    box-shadow: var(--boxShadow);
    color: var(--fontColor);
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding);
    padding-bottom: 4rem;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

#infoBar {
    background: var(--highlightActive);
    color: var(--background);
}

.spaceRight {
    margin-right: 0.4rem;
}

.spaceLeft {
    margin-left: 0.4rem;
}

#storageAcknowledgementButtonRow,
#updateNotesButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    flex-wrap: wrap;
}

li {
    list-style: none;
    text-align: left;
    border-left: 0.2rem solid var(--accentSecondary);
    border-radius: 0.2rem 0 0 0.2rem;
    padding-left: 0.4rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: 0;
    justify-content: flex-start;
}

h1,
h2 {
    font-size: var(--fontSizeExtraLarge);
    color: var(--accent);
}

h3,
h4 {
    font-size: var(--fontSizeLarge);
    transition: var(--transitionNormal);
}

h5,
h6 {
    font-size: var(--fontSizeMedium);
}


strong {
    font-weight: bold;
}

a {
    color: var(--fontHighlight);
    text-decoration: none;
    transition: var(--transitionFast);
}

a:hover {
    color: var(--highlightHover);
}

a:active {
    color: var(--highlightActive);
}

input,
textarea {
    color: var(--background);
    box-sizing: border-box;
    background: var(--muchLighter);
    border-radius: var(--borderRadiusButtons);
    border: none;
    resize: none;
    overflow-y: hidden;
    transition: var(--transitionFast);
    width: 100%;
    padding: var(--padding);
}

input::placeholder,
textarea::placeholder {
    color: var(--muchDarker);
}

label {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 2rem;
    /* Specified height */
    background: var(--accentSecondary);
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5rem;
    padding: 1.4rem 0.8rem;
    max-width: 40rem;
}


input[type="range"]:hover {
    opacity: 0.9;
    cursor: pointer;
}

input[type="range"]:active {
    opacity: 1;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--highlightActive);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--highlightActive);
    cursor: pointer;
}

.buttonRow,
.linkRow {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: center;
    width: 100%;
}

span.buttonRow {
    width: unset;
    ;
}

div.buttonPanel {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    padding: 0.8rem 2rem 0.8rem 1.28rem;
    border: solid 0.2rem var(--accentSecondary);
    border-radius: var(--borderRadiusButtons);
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--panelBackground);
    box-sizing: border-box;
}

button:disabled {
    pointer-events: none;
    opacity: 0.64;
    cursor: default;
}

a,
button,
.menuButton {
    font-size: var(--fontSize);
    background: var(--accent);
    color: var(--accentSecondary);
    padding: 0.4rem 1rem 0.4rem 0.64rem;
    border-radius: var(--borderRadiusButtons);
    border: none;
    width: fit-content;
    cursor: pointer;
    transition: var(--transitionFast);
}

button:hover,
.menuButton:hover {
    background: var(--fontColor);
    color: var(--panelBackground);
    padding-right: 1.2rem;
    margin-right: -0.2rem;
    box-shadow: 0.2rem 0rem 0 var(--accent);
}

button:active,
.menuButton:active {
    background: var(--highlightActive);
    color: var(--accentSecondary);
}

button.informationButton {
    background: var(--accentSecondaryTransparent);
    color: var(--highlight);
    border: solid 0.1rem var(--accentSecondary);
}

button.informationButton:hover {
    color: var(--highlightActive);
}

.colored {
    color: var(--panelBackground);
}

.error-message {
    color: var(--warning);
    font-size: var(--fontSizeSmall);
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transitionFast);
}

.popup {
    background: var(--darker);
    transition: var(--transitionFast);
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    align-items: center;
    width: 24rem;
    max-width: 90%;
    max-height: 90%;
    padding: var(--padding);
    text-align: center;
    background-color: var(--panelBackground);
    border: solid 0.4rem var(--accentSecondary);
    border-left-width: 2.4rem;
    border-radius: 0.4rem 2rem 0.4rem 2rem;
    box-shadow: var(--boxShadow);
    color: var(--highlight);
}

.fade-in-fast {
    animation-name: fade-in-fast;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes fade-in-fast {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out-fast {
    animation-name: fade-out-fast;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes fade-out-fast {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.noPointerEvents {
    pointer-events: none;
}


.hugeSelection {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    flex-wrap: wrap;
    justify-content: flex-start;
}

#starMap {
    background-color: black;
    border-radius: 50%;
    border: solid 0.2rem var(--accentSecondary);
    background: var(--accentSecondaryTransparent);
    box-shadow: inset 0 0 10rem var(--panelBackground);
    box-sizing: border-box;
    width: 100%;
    max-width: 70svh;
    height: auto;
    align-self: center;
}

.panelRow.unsetWidth .panel {
    width: unset;
}

#starMap.interactable {
    touch-action: none;
}

.course-btn.discovered {
    border: 1px solid var(--highlightHover);
}

.panel {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding);
    border-radius: 0.2rem;
    border-top: solid 0.2rem var(--accentSecondaryTransparent);
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--panelBackground);
    box-sizing: border-box;
    width: 100%;
    user-select: none;
}

.panelRow {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.panel h1,
.panel h2 {
    color: var(--accentSecondary);
}

.panel .panel {
    padding: 0.8rem 1.28rem 0.8rem 1.28rem;
    padding-left: 0;
    flex-direction: column;
    border: none;
    border-top: solid 0.2rem var(--accentSecondaryTransparent);
    border-right: solid 0.2rem var(--accentSecondaryTransparent);
    border-radius: 0.2rem 2rem 0.2rem 0;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 1rem;
    width: unset;
    flex-grow: 1;
    box-sizing: border-box;
}

.panel .buttonPanel {
    padding: 0;
    border: none;
    flex-grow: 1;
    align-items: flex-end;
}

.panel h3,
.panel h4,
.panel h5,
.panel h6 {
    padding: 0.4rem 2.4rem 0.4rem 1rem;
    border-radius: 0.2rem 1rem 1rem 0.2rem;
    width: 100%;
    box-sizing: border-box;
    color: var(--panelBackground);
}

.panel p {
    color: #f0b878;
    border-left: solid 0.2rem var(--accentSecondaryTransparent);
    border-bottom: solid 0.2rem var(--accentSecondaryTransparent);
    border-radius: 0.2rem;
    padding: 0 0 0.4rem 0.4rem;
    min-width: 14rem;
    box-sizing: border-box;
}

/* Rooms/Bridge */

.screen {
    aspect-ratio: 16/9;
    width: 80%;
    max-width: 40rem;
    border: solid 0.2rem white;
    border-radius: 1rem;
    background: var(--panelBackground);
    flex: 2;
}

.crewSection {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.crewStation {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    padding: var(--padding);
    border-radius: 0.2rem;
    border: 0.2rem solid var(--accentSecondary);
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--accentSecondaryTransparent);
    box-sizing: border-box;
    width: 100%;
    min-width: calc(50% - var(--padding));
    flex: 1;
    align-items: stretch;
}

@media screen and (max-width: 1000px) {
    .panelRow.unsetWidth {
        flex-direction: column;
    }

    .panelRow.unsetWidth .panel {
        width: 100%;
    }

    .screen {
        width: 100%;
    }

    .crewStation {
        min-width: 100%;
    }
}

.crewSection p {
    pointer-events: none;
}

.crewSection .column {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    flex: 1;
}

.crewStation .console {
    background: var(--accentSecondary);
    padding: 1rem;
    border-radius: 0.2rem;
    height: 3rem;
    width: 7rem;
    border: solid 0.1rem var(--accentSecondary);
}

.crewStation .console:hover {
    cursor: pointer;
    border: solid 0.1rem var(--highlight);
}

.crewStation .crew {
    background: var(--fontHighlight);
    padding: 1rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--panelBackground);
}

.crewStation .suggestions {
    flex: 3;
    min-width: 10rem;
    height: 14rem;
    max-height: 14rem;
    overflow-y: scroll;
    background: var(--panelBackground);
    padding: var(--padding);
}

span.action {
    font-weight: bold;
    color: var(--highlightHover);
    cursor: pointer;
    transition: var(--transitionFast);
}

span.action:hover {
    color: var(--highlightActive);
}

span.action:active {
    color: var(--fontColor);
}

/* Starmap */

text {
    font-size: var(--fontSizeExtraLarge);
}

circle.starmapStar {
    r: 1rem;
}

/* Alerts */

#content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: var(--transitionNormal);
}

#content.Red::after,
#content.Red .panel h3::after {
    animation: redAlert 2.4s infinite ease-in-out;
}

#content.Yellow::after,
#content.Yellow .panel h3::after {
    animation: yellowAlert 4s infinite ease-in-out;
}

#content.Black .panel h3 {
    background-color: #7a7a7a !important;
}

#content.Black::after {
    animation: blackAlert 5.4s infinite ease-in-out;
}

#content .panel h3 {
    position: relative;
}

#content .panel h3::after {
    content: '';
    border-radius: 0.2rem 1rem 1rem 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.alertButton.red {
    background: var(--warning);
    color: var(--panelBackground);
}

.alertButton.yellow {
    background: #ffca37;
    color: var(--panelBackground);
}

.alertButton.black {
    background: #7a7a7a;
    color: var(--panelBackground);
}

@keyframes redAlert {
    0% {
        box-shadow: inset 0 0 0rem var(--warning);
    }

    50% {
        box-shadow: inset 0 0 1.4rem var(--warning);
    }

    100% {
        box-shadow: inset 0 0 0rem var(--warning);
    }
}

@keyframes yellowAlert {
    0% {
        box-shadow: inset 0 0 0rem #ffca37;
    }

    10% {
        box-shadow: inset 0 0 1rem #ffca37;
    }

    30% {
        box-shadow: inset 0 0 0rem #ffca37;
    }

    40% {
        box-shadow: inset 0 0 1rem #ffca37;
    }

    60% {
        box-shadow: inset 0 0 0rem #ffca37;
    }
}

@keyframes blackAlert {
    0% {
        background: #00000044;
        box-shadow: inset 0 0 10rem #00000044;
    }

    50% {
        background: #00000056;
    }

    100% {
        background: #00000044;
        box-shadow: inset 0 0 10rem #00000044;
    }
}